body{
    background-color: bisque;
}

table, th, td {
    border:5px solid red;
    border-collapse: collapse;
    border-spacing: 10px;
}


th,td{
    padding: 15px;
    text-align: right;
    vertical-align: bottom;
    height: 40px;
}


table{
    width: 200px;
    table-layout: auto;
}
